{% extends 'basic.html' %} {% block content %}
<div id="home-container">
  <style>
    .intro {
      color: white;
      margin: 5px;
      padding: 5px;
    }

    .header {
      display: flex;
    }

    .intro p {
      font-style: italic;
    }

    p.h {
      font-weight: bold;
    }


    .md a {
      color: white;
      font-style: inherit;
      font-weight: 600;

    }

    .md a:hover {
      font-style: italic;
    }
  </style>
  <br><br>
  <h1 id="home-header">Heartfelt Haven Chatbox 💬</h1>
  <div class="intro">
    {% if nick == "User" %}
    <p class="h">Hi...</p>
    {% else %}
    <p class="h">Hi... {{nick}}</p>
    {% endif %}
    <br>
    <div class="header" style="justify-content: center;">Heartfelt Haven</div>
    <p>Welcome to Heartfelt Haven, your go-to platform for seamless and enjoyable chatting experiences with friends. Try
      our Heartfelt Haven live chatterbox and connect effortlessly. In the Heartfelt Haven chatterbox, you can create a
      room and share the room code with your friends to join your conversation.</p>

    <br><br>
    <div class="md"><a href="https://sabirhussainbalal.com">Sabir Hussain Balal</a></div>
  </div>
</div>
{% endblock %}